@keyframes popDown {
  0% {
    transform: translateY(-100px); } }

* {
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
  font-size: 14px;
  font-weight: normal;
  overflow-x: hidden;
  color: #1B242F;
  margin: 0; }

section, div {
  display: block; }

p {
  line-height: 1.6em; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  height: 100%; }

.text-center {
  text-align: center; }

.highlight {
  color: #E31B6D; }

.hero {
  text-align: center;
  height: 100vh; }

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url("../images/canvas.png") center center/cover; }

.hero-outer {
  display: table;
  width: 100%;
  height: inherit; }

.hero-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 9;
  font-size: 42px;
  line-height: 1.3em; }
  @media (min-width: 320px) and (max-width: 767px) {
    .hero-inner {
      font-size: 22px; } }

.hero__text--bright {
  color: #E31B6D; }

.button {
  width: 200px;
  margin: 20px auto;
  border: 1px solid #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all .5s;
  line-height: 2.8em;
  border-radius: 3px; }
  .button:hover {
    background-color: #00b7cc;
    border-color: #00b7cc; }
  @media (min-width: 320px) and (max-width: 767px) {
    .button {
      font-size: 16px;
      width: 150px;
      line-height: 2.3em; } }

.navbar {
  bottom: -50px;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: #1B242F;
  border-bottom: 3px solid #00b7cc;
  z-index: 99; }
  .navbar.fixed {
    top: 0;
    left: 0;
    position: fixed; }
  .navbar.fixed.desk {
    animation: popDown .5s; }
  .navbar .link-wrap {
    transition: height .3s ease-out; }
  .navbar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    line-height: 52px; }
  .navbar li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: color .5s;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .navbar li {
        font-size: 12px;
        margin: 0 15px; } }
  .navbar li:hover {
    color: #E31B6D; }
  .navbar .active {
    color: #E31B6D; }

.heading {
  font-size: 42px;
  color: #444649;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    .heading {
      font-size: 32px; } }

.heading--decorate {
  width: 80px;
  height: 4px;
  margin: 25px auto 80px;
  background-color: #444649; }
  @media (min-width: 320px) and (max-width: 768px) {
    .heading--decorate {
      margin: 25px auto 70px; } }

.flex-container {
  display: flex; }
  @media (min-width: 320px) and (max-width: 767px) {
    .flex-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

.flex-row {
  display: flex;
  flex-direction: row; }
  @media (min-width: 320px) and (max-width: 1024px) {
    .flex-row {
      flex-direction: column;
      justify-content: center; } }

.flex-item {
  padding: 0 10px;
  flex: 1;
  position: relative; }

.info-text {
  font-size: 16px;
  color: #616161;
  margin: 15px auto;
  padding: 0 15px; }
  .info-text p {
    margin: 5px auto 70px; }
  .info-text a {
    display: inline-block;
    color: #009ADA;
    text-decoration-line: none; }
  @media (min-width: 320px) and (max-width: 767px) {
    .info-text {
      font-size: 14px; } }

.info-text--bold {
  margin: 0;
  color: #616161; }
  @media (min-width: 320px) and (max-width: 767px) {
    .info-text--bold {
      font-size: 18px; } }

.hex-wrap {
  height: 100px;
  width: 100px;
  position: relative;
  margin: auto; }

.hexagon {
  background-color: #00b7cc;
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block; }
  .hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg); }
  .hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg); }
  .hexagon i {
    position: absolute;
    top: 25px;
    font-size: 48px;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 1; }

.about {
  padding: 150px 0 100px;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 1024px) {
    .about .about-0 .flex-row {
      flex-direction: row; } }
  .about .portfolio-wrapper .hexa, .about .portfolio-wrapper .hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px; }
  .about .portfolio-wrapper .hexa {
    width: 325px;
    height: 230px;
    transform: rotate(120deg);
    margin-top: 50px; }
  .about .portfolio-wrapper .hexa div {
    width: 100%;
    height: 100%; }
  .about .portfolio-wrapper .hex1 {
    transform: rotate(-60deg); }
  .about .portfolio-wrapper .hex2 {
    transform: rotate(-60deg); }
  .about .portfolio-wrapper .portfolio-img {
    background-image: url("https://instagram.fdel1-4.fna.fbcdn.net/vp/cea612a6ed60e1c80f9674fad3a08a19/5C3E96FF/t51.2885-15/sh0.08/e35/s640x640/41518313_1943146512645312_101359394510484402_n.jpg");
    background-repeat: no-repeat;
    background-position: 10px -106px;
    background-size: cover; }
  .about .portfolio-wrapper h1 {
    margin: 25px 0 15px; }
  .about .progress-wrapper.animated .fill {
    width: 0 !important; }
  .about .progress-wrapper {
    width: 100%; }
    .about .progress-wrapper .bar {
      position: relative;
      background-color: #eee;
      height: 28px;
      line-height: 28px;
      margin-bottom: 15px; }
    .about .progress-wrapper .bar:nth-child(1) .fill {
      transition: 1.2s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(2) .fill {
      transition: 1.3s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(3) .fill {
      transition: 1.4s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(4) .fill {
      transition: 1.5s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(5) .fill {
      transition: 1.6s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(6) .fill {
      transition: 1.7s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(7) .fill {
      transition: 1.8s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(8) .fill {
      transition: 1.9s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(9) .fill {
      transition: 2s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(10) .fill {
      transition: 2.1s 0.2s width ease-in-out; }
    .about .progress-wrapper .bar:nth-child(11) .fill {
      transition: 2.2s 0.2s width ease-in-out; }
    .about .progress-wrapper .fill {
      top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: #089eaf; }
    .about .progress-wrapper .bar__tag {
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: #00b7cc;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      width: 145px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .about .progress-wrapper .bar__tag {
          font-size: 12px;
          width: 125px; } }
    .about .progress-wrapper span {
      position: absolute;
      right: 10px;
      height: inherit; }
      @media (min-width: 320px) and (max-width: 768px) {
        .about .progress-wrapper span {
          right: 5px;
          font-size: 12px; } }
    @media (min-width: 320px) and (max-width: 1024px) {
      .about .progress-wrapper {
        max-width: 100%; } }
  @media (min-width: 320px) and (max-width: 768px) {
    .about {
      padding: 50px 0 80px; } }

.personal {
  background-color: #f8f8f8;
  padding: 100px 0; }
  .personal p {
    font-size: 16px; }
  .personal .emoji {
    margin-right: 10px; }
  @media (min-width: 320px) and (max-width: 768px) {
    .personal {
      padding: 70px 0; }
      .personal img {
        width: 200px;
        margin-top: -30px; } }

.projects {
  padding: 100px 0 120px; }
  .projects .img-wrapper {
    height: 350px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ddd; }
  .projects .info-text {
    padding: 0; }
    .projects .info-text h1 {
      font-size: 22px;
      margin-top: 20px; }
    .projects .info-text p {
      font-size: 14px;
      margin: 20px 0 25px; }
  .projects .view-btn {
    text-decoration-line: none;
    color: #616161;
    border: 1px solid #00b7cc;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.5s; }
    .projects .view-btn:hover {
      background-color: #00b7cc;
      color: #fff; }
    @media (min-width: 320px) and (max-width: 1024px) {
      .projects .view-btn {
        display: inline-block;
        margin-bottom: 50px; } }
  @media (min-width: 320px) and (max-width: 768px) {
    .projects {
      padding: 70px 0 30px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .projects {
      padding: 100px 0 50px; } }

.footer {
  padding: 100px 0;
  background-color: #1B242F;
  color: #fff; }
  .footer .heading {
    color: #fff; }
  .footer .heading--decorate {
    background-color: #fff; }
  .footer .hex-wrap {
    width: 50px;
    height: 50px; }
  .footer .hexagon {
    background-color: #E31B6D; }
  .footer .hexa-icon {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    left: 18px; }

.footer-wrapper-left {
  text-align: center; }
  .footer-wrapper-left p {
    margin: 20px auto 10px;
    font-size: 16px; }
    @media (min-width: 320px) and (max-width: 768px) {
      .footer-wrapper-left p {
        font-size: 14px; } }
  .footer-wrapper-left a {
    color: #fff;
    text-decoration-line: none;
    display: block; }

.footer-wrapper-right {
  text-align: center; }
  @media (min-width: 320px) and (max-width: 768px) {
    .footer-wrapper-right {
      margin-top: 30px; } }
  .footer-wrapper-right .inline-icon {
    display: inline-block;
    margin: 5px 20px 0;
    opacity: 0.7;
    transition: all 0.5s; }
    .footer-wrapper-right .inline-icon:hover {
      opacity: 1; }
    @media (min-width: 320px) and (max-width: 768px) {
      .footer-wrapper-right .inline-icon {
        margin: 5px 10px 0; } }
  .footer-wrapper-right .hex-wrap {
    width: 35px;
    height: 35px; }
  .footer-wrapper-right .hexagon {
    background-color: #fff; }
  .footer-wrapper-right .mdi {
    font-size: 20px;
    color: #E31B6D;
    top: 8px; }
  .footer-wrapper-right p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    opacity: 0.8;
    margin: 20px 0 10px; }
  .footer-wrapper-right h4 {
    font-weight: 100; }
