// All color variables
$col-pink: #E31B6D;
// $col-blue: #04C2C9;
$col-blue: #00b7cc;
$col-black: #1B242F;
$col-gray: #616161;

// All font sizes
$font-xl: 42px;
$font-m: 18px;
$font-sm: 16px;
$font-xs: 12px;

// all animations
@keyframes popDown {
  0% {
    transform: translateY(-100px); 
  } 
}

* {
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
  font-size: 14px;
  font-weight: normal;
  overflow-x: hidden;
  color: $col-black;
  margin: 0;
}

section, div {
  display: block;
}

p {
  line-height: 1.6em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.highlight {
  color: $col-pink;
}

// Hero section
.hero {
  text-align: center;
  height: 100vh;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url("../images/canvas.png") center center/cover; 
}

.hero-outer {
  display: table;
  width: 100%;
  height: inherit;
}

.hero-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 9;
  font-size: $font-xl;
  line-height: 1.3em;
  
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 22px;
  }
}

.hero__text--bright {
  color: $col-pink;
}

.button {
  width: 200px;
  margin: 20px auto;
  border: 1px solid #fff;
  font-size: $font-m;
  cursor: pointer;
  transition: all .5s;
  line-height: 2.8em;
  border-radius: 3px;

  &:hover {
    background-color: $col-blue;
    border-color: $col-blue;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: $font-sm;
    width: 150px;
    line-height: 2.3em;
  }
}

// navbar style
.navbar {
  bottom: -50px;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: $col-black;
  border-bottom: 3px solid $col-blue;
  z-index: 99;

  &.fixed {
    top: 0;
    left: 0;
    position: fixed;
  }

  &.fixed.desk {
    animation: popDown .5s;
  }

  .link-wrap {
    transition: height .3s ease-out;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    line-height: 52px;
  }

  li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: color .5s;
    text-transform: uppercase;
    color: #fff;
    font-size: $font-sm;

    @media (min-width: 320px) and (max-width: 767px) {
      font-size: 12px;
      margin: 0 15px;
    }
  }

  li:hover {
    color: $col-pink;
  }

  .active {
    color: $col-pink;
  }
}

// About section css
.heading {
  font-size: $font-xl;
  color: #444649;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 32px;
  }
}

.heading--decorate {
  width: 80px;
  height: 4px;
  margin: 25px auto 80px;
  background-color: #444649;

  @media (min-width: 320px) and (max-width: 768px) {
    margin: 25px auto 70px;
  }
}

.flex-container {
  display: flex;

  @media (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
}

.flex-row {
  display: flex;
  flex-direction: row;

  @media (min-width: 320px) and (max-width: 1024px) {
    flex-direction: column; 
    justify-content: center; 
  }
}

.flex-item {
  padding: 0 10px;
  flex: 1;
  position: relative;
}

.info-text {
  font-size: $font-sm;
  color: $col-gray;
  margin: 15px auto;
  padding: 0 15px;

  p {
    margin: 5px auto 70px;
  }

  a {
    display: inline-block;
    color: #009ADA;
    text-decoration-line: none;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
  }
}

.info-text--bold {
  margin: 0;
  color: $col-gray;

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
  }
}

.hex-wrap {
  height: 100px;
  width: 100px;
  position: relative;
  margin: auto;
}

.hexagon {
  background-color: $col-blue;
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;

  &:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
  }

  &:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
  }

  i {
    position: absolute;
    top: 25px;
    font-size: 48px;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.about {
  padding: 150px 0 100px;
  text-align: center;

  .about-0 .flex-row {
    @media (min-width: 320px) and (max-width: 1024px) {
      flex-direction: row;
    }
  }

  .portfolio-wrapper {
    .hexa, .hexa div {
      margin: 0 auto;
      transform-origin: 50% 50%;
      overflow: hidden;
      width: 300px;
      height: 300px;
    }

    .hexa {
      width: 325px;
      height: 230px;
      transform: rotate(120deg);
      margin-top: 50px;
    }

    .hexa div {
      width: 100%;
      height: 100%;
    }

    .hex1 {
      transform: rotate(-60deg);
    }

    .hex2 {
      transform: rotate(-60deg);
    }

    .portfolio-img {
      background-image: url("https://instagram.fdel1-4.fna.fbcdn.net/vp/cea612a6ed60e1c80f9674fad3a08a19/5C3E96FF/t51.2885-15/sh0.08/e35/s640x640/41518313_1943146512645312_101359394510484402_n.jpg");
      // background-image: url("https://instagram.fdel1-2.fna.fbcdn.net/vp/138beafb5a2572bb9660f2457bbda07e/5C22E689/t51.2885-15/e35/19764324_299465150523898_3698502952558788608_n.jpg");
      background-repeat: no-repeat;
      background-position: 10px -106px;
      background-size: cover;
    }

    h1 {
      margin: 25px 0 15px;
    }
  }

  .progress-wrapper.animated .fill {
    width: 0 !important; 
  }

  .progress-wrapper {
    width: 100%;

    .bar {
      position: relative;
      background-color: #eee;
      height: 28px;
      line-height: 28px;
      margin-bottom: 15px;
    }

    .bar:nth-child(1) .fill {
      transition: 1.2s 0.2s width ease-in-out; 
    }

    .bar:nth-child(2) .fill {
      transition: 1.3s 0.2s width ease-in-out; 
    }

    .bar:nth-child(3) .fill {
      transition: 1.4s 0.2s width ease-in-out; 
    }

    .bar:nth-child(4) .fill {
      transition: 1.5s 0.2s width ease-in-out; 
    }

    .bar:nth-child(5) .fill {
      transition: 1.6s 0.2s width ease-in-out; 
    }

    .bar:nth-child(6) .fill {
      transition: 1.7s 0.2s width ease-in-out; 
    }

    .bar:nth-child(7) .fill {
      transition: 1.8s 0.2s width ease-in-out; 
    }

    .bar:nth-child(8) .fill {
      transition: 1.9s 0.2s width ease-in-out; 
    }

    .bar:nth-child(9) .fill {
      transition: 2s 0.2s width ease-in-out; 
    }

    .bar:nth-child(10) .fill {
      transition: 2.1s 0.2s width ease-in-out; 
    }

    .bar:nth-child(11) .fill {
      transition: 2.2s 0.2s width ease-in-out; 
    }

    .fill {
      top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: #089eaf;
    }

    .bar__tag {
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: $col-blue;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      width: 145px;

      @media (min-width: 320px) and (max-width: 767px) {
        font-size: 12px;
        width: 125px;
      }
    }

    span {
      position: absolute;
      right: 10px;
      height: inherit;

      @media (min-width: 320px) and (max-width: 768px) {
        right: 5px;
        font-size: 12px;
      }
    }

    @media (min-width: 320px) and (max-width: 1024px) {
      max-width: 100%; 
    }
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 50px 0 80px;
  }
}

// Personal section css
.personal {
  background-color: #f8f8f8;
  padding: 100px 0;

  p {
    font-size: $font-sm;
  }

  .emoji {
    margin-right: 10px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 70px 0;

    img {
      width: 200px;
      margin-top: -30px;
    }
  }
}

// Projects section css
.projects {
  padding: 100px 0 120px;

  .img-wrapper {
    height: 350px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .info-text {
    padding: 0;

    h1 {
      font-size: 22px;
      margin-top: 20px;
    }

    p {
      font-size: 14px;
      margin: 20px 0 25px;
    }
  }

  .view-btn {
    text-decoration-line: none;
    color: $col-gray;
    border: 1px solid $col-blue;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.5s;

    &:hover {
      background-color: $col-blue;
      color: #fff;
    }

    @media (min-width: 320px) and (max-width: 1024px) {
      display: inline-block;
      margin-bottom: 50px;
    }
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 70px 0 30px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 100px 0 50px;
  }
}

.footer {
  padding: 100px 0;
  background-color: #1B242F;
  color: #fff;

  .heading {
    color: #fff;
  }

  .heading--decorate {
    background-color: #fff;
  }

  .hex-wrap {
    width: 50px;
    height: 50px;
  }

  .hexagon {
    background-color: $col-pink;
  }

  .hexa-icon {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    left: 18px;
  }
}

.footer-wrapper-left {
  text-align: center;

  p {
    margin: 20px auto 10px;
    font-size: $font-sm;

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 14px;
    }
  }

  a {
    color: #fff;
    text-decoration-line: none;
    display: block;
  }
}

.footer-wrapper-right {
  text-align: center;

  @media (min-width: 320px) and (max-width: 768px) {
    margin-top: 30px;
  }

  .inline-icon {
    display: inline-block;
    margin: 5px 20px 0;
    opacity: 0.7;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }

    @media (min-width: 320px) and (max-width: 768px) {
      margin: 5px 10px 0;
    }
  }

  .hex-wrap {
    width: 35px;
    height: 35px;
  }

  .hexagon {
    background-color: #fff;
  }

  .mdi {
    font-size: 20px;
    color: $col-pink;
    top: 8px;
  }

  p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    opacity: 0.8;
    margin: 20px 0 10px;
  }

  h4 {
    font-weight: 100;
  }
}
